.wrapper {
  composes: body-semibold-large from "../themesTypography.module.css";
  padding: var(--spacing-xs) var(--spacing-s);
  height: fit-content;
  width: fit-content;
  background: var(--bg-user-input);
  border-radius: var(--border-radius-large);
}
