@import-normalize;

html,
body,
p
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* https://stackoverflow.com/questions/16907518/css-input-with-width-100-goes-outside-parents-bound */
*, *:before, *:after {
  box-sizing: inherit;
}