.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-m);
  gap: var(--spacing-m);

  border-radius: var(--border-radius-large);
  background: var(--color-bg-card-base);
  height: fit-content;
}
