.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff9ed;
}

.button-group button {
  margin: 10px;
  padding: 20px;
  background: #ffe6ce;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

.button-group button:hover,
.query-input button:hover {
  background: #fbc795;
  cursor: pointer;
}

.query-input {
  padding: 10px;
}

.query-input input {
  padding: 10px;
  width: 80%;
}

.query-input button {
  padding: 12px;
  width: 14%;
  margin-left: 10px;
  background: #ffe6ce;
  border: 0;
}

#chat-window {
  padding: 20px;
}

.message {
  padding: 20px;
  max-width: 65%;
  line-height: 150%;
  clear: both;
  border-radius: 10px;
}

.message.bot {
  float: left;
}

.message.user {
  float: right;
  background: #ffe6ce;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.loader {
  border: 4px solid #ffb168;
  border-radius: 50%;
  border-top: 4px solid #f9d7b7;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}