.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: fit-content;
  border-radius: var(--spacing-s);
  padding: var(--spacing-xs) var(--spacing-s);

  box-shadow: 0px 3px 7px 0px rgba(42, 42, 42, 0.03),
    0px 12px 12px 0px rgba(42, 42, 42, 0.03),
    0px 27px 16px 0px rgba(42, 42, 42, 0.02),
    0px 48px 19px 0px rgba(42, 42, 42, 0), 0px 75px 21px 0px rgba(42, 42, 42, 0);
}

.nav-links a {
  display: flex;
  padding: var(--spacing-xs) var(--spacing-s);

  border-radius: var(--border-radius-medium);
  text-decoration: none;
  color: inherit;

  &:last-child {
    border: 1px solid #2a2a2a;
  }
}

.nav-links {
  composes: text from "../themesTypography.module.css";
  display: inherit;
  gap: var(--spacing-m);
}
