.wrapper {
  grid-template-columns: 1fr;
  overflow: auto;
  gap: var(--spacing-m);
}

.information-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.title {
  composes: text-h2 from "../themesTypography.module.css";
  color: var(--color-text-title);
}